<main>
  <div>
    <label for="title"></label>
    <input type="text" id="title" placeholder="Title" [(ngModel)]="title" />
  </div>

  <div>
    <label for="description"></label>
    <textarea
      type="text"
      id="description"
      placeholder="Description"
      [(ngModel)]="description"
    ></textarea>
  </div>

  <div>
    <label for="tag"></label>
    <input
      type="text"
      id="tag"
      placeholder="Tags separated by commas..."
      [(ngModel)]="tag"
    />
  </div>

  <button (click)="updateNote()">Update Note</button>
</main>
